/* Importación de tipografía */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,900&display=swap');

/* Selctor universal */
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins'; */
}
/* Selector de etiqueta */
h1{
    font-family: 'Poppins';
    font-weight: 900;
    color: yellowgreen;
}
/* Selector de etiqueta */
h2{
    color: red;
}
/* Selector de id */
#site_text{
    background-color: black;
}
/* Selector de clases */
.subtitles{
    font-family: 'Poppins';
}
/* Selector por atributo */
input[disabled] {
    background-color: aquamarine;
}
/* Selector por id - Botón Enviar */
#btn_send{
    margin: 50px;
    padding: 50px;
}
/* Selector por pseudoclases */
#btn_send:hover{
    background-color: aquamarine;
    color: orange;
    font-size: 20px;
}

#papa{
    margin-left: 50px;
    border: 2px double red;
    border-radius: 10px;
}

.hermanos {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}

#nh_uno{
    color: blue;
}
/* Selector descendente hijo */
#papa > .hermanos > #nh_uno{
    color: orange
}
/* Selector descendente */
#papa .nieto{
    color: red
}

span{
    color: rgb(76, 76, 152);
}

#title_box{
    color: #000;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 1px dotted #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 255);
    box-shadow: 63px -15px 7px 50px rgba(0, 0, 0, 0.161); 
    -moz-box-shadow: 63px -15px 7px 50px rgba(0, 0, 0, 0.16); 
    -webkit-box-shadow: 63px -15px 7px 50px rgba(0, 0, 0, 0.16);
    word-spacing: 15px;
    letter-spacing: 5px;
    font-size: 20px;
}

#box_father{
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Media querys entre 800 y 1280 */
@media (min-width: 800px) and (max-width: 1280px) {
    body{
        background-color: red;
    }
    h1{
        text-align: center;
    }
}

/* media querys de 799 para abajo*/
@media (max-width: 799px) {
    body{
        background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
